.janela, .resultScreen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.janelaNova{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.newJanelaA, .newJanelaBContainer, .newResultA, .newResultBContainer{
    text-align: center;
    background-color: #acccd2;
    border-radius: 14px;
    box-shadow: 5px 5px 18px #888888;
    margin: auto;
    margin-top: 48px;
    width: 90%;
}

#graficoResultado{
    height: 100px;
    display: block;
}

.janelaAh2, .newResultado{
    font-size: 24px;
    padding: 16px;
    color: #1F2B45;
}

.newJanelaAContainer{
    padding: 24px;
}

canvas{
    cursor: pointer;
}

.newKpis{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: #1F2B45;
    margin: auto;
    margin-top: 18px;
    width: 90%;
}

.kpi{
    background-color: #acccd2;
    border-radius: 14px;
    box-shadow: 5px 5px 18px #888888;
    white-space: pre-line;
    margin: 8px;
    padding: 32px;
    color: #1F2B45;
}

.kpi #kpiTitle{
    font-weight: inherit;
}

.kpi #kpiData{
    font-size: 32px;
    font-weight: bold;
}

.startButton{
    padding: 16px;
    margin: 32px;
    font-size: 24px;
    border-radius: 12px;
    border: none;
    background-color: #00b400;
    color: #fff;
    cursor: pointer;
}

.startButton:hover{
    background-color: #badaaf;
    color: #000;
}

.startGame{
    padding: 64px;
}

.characterConfirm{
    border-radius: 16px;
    background-color: #2B6069;
    color: #fff;
    padding: 16px;
    margin: 0 auto;
    display: table;
}

.characterConfirm img, .CharacterPoints img{
    display: table;
    margin: 0 auto;
    padding: 32px;
    width: 128px;
    border-radius: 24px;
}

.questionScreen{
    padding: 32px;
}

.questionScreen .CharacterPointsTimer{
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
}

.CharacterPoints, .CharacterPointsTimer #timerBox{
    text-align: center;
    background-color: #2B6069;
    border-radius: 24px;
    padding: 8px;
    height: 207px;
}

.CharacterPoints img{
    padding: 6px;
}

.CharacterPoints #userName{
    font-size: 24px;
    color: #fff;
}

.CharacterPoints{
    color: #c3c3c3
}

.CharacterPointsTimer #timer{
    font-size: 36px;
    color: #fff;
    position: relative;
    top: 25%;
    transform: translateY(-50%);
}

.CharacterPointsTimer #separator{
    margin: 0px 64px 64px 64px;
    background-color: #1F2B45;
    color: #fff;
    border-radius: 32px;
    padding: 64px;
    text-align: center;
    font-size: 32px;
}

.questionScreen #answerButtons{
    text-align: center;
}

.questionScreen #answerButtons button, #continueButton button{
    font-size: 24px;
    padding: 24px;
    margin: 16px;
    color: #fff;
    border: none;
    background-color: #3c4864;
    border-radius: 48px;
    transition: all 0.1s ease-in;
}

#separator p{
    color: #3aa8bb;
    font-size: 24px;
    padding-top: 16px;
}

.questionScreen #answerButtons button:hover{
    cursor: pointer;
    background-color: #6a7591;
}

#continueButton{
    display: table;
    margin: 0 auto;
}

#continueButton button:hover{
    opacity: 0.4;
}

#continueButton button{
    background-color: #2B6069;
    cursor: pointer;
}

.askConfirm #frstBttn{
    background-color: #f00;
    font-size: 13px;
}

.askConfirm #frstBttn:hover{
    background-color: #FF4C4C;
}

.askConfirm #scndBttn{
    background-color: #008000;
}

.askConfirm #scndBttn:hover{
    background-color: #30f830;
}